<h1 class=" text-3xl text-center mx-8 my-6 underline decoration-dotted" > Checkout Page </h1>
<script src="https://js.stripe.com/v3/"></script>


{{#if cartItems.length}}
  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Console</th>
        <th>Condition</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {{#each cartItems}}
        <tr>
          <td>{{gamesConsole.game.title}}</td>
          <td>{{gamesConsole.condition}}</td>
          <td>${{gamesConsole.price}}</td>
          <td>{{quantity}}</td>
          {{!-- <td>${{multiply price quantity}}</td> <!-- Assuming you have a helper to multiply price * quantity --> --}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{!-- 
  <h3>Grand Total: ${{calculateTotal cartItems}}</h3> --}}

  <form action="/create-checkout-session" method="POST">
    <button type="submit">Complete Purchase</button>
  </form>
{{else}}
  <p class=" text-3xl text-center mx-8 my-6"> Your cart is empty.</p>
{{/if}}


