<h1>All Games</h1>

<h4></h4>{{game.title}}</h4>
<p>{{game.publisher}}</p>
<p>{{game.amount_players}}</p>
<p>{{game.year_created}}</p>
<p>{{game.genre}}</p>
<p>{{gamesConsoles.price}}</p>
<p>{{gamesConsoles.condition}}</p>
<p>{{gamesConsoles.stock}}</p>



